<h4 *ngIf="error">{{error}}</h4>
<form (ngSubmit)="submit()">
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" [(ngModel)]="username" />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text" name="password" [(ngModel)]="password" />
    </div>
    <div>
        <button type="submit">{{action}}</button>
    </div>
    <div *ngIf="action=='Login'">
        <p>Don't have an account?</p>
        <a [routerLink]="" (click)="toggle()">Register</a>
    </div>
    <div *ngIf="action=='Register'">
        <p>Already registered?</p>
        <a [routerLink]="" (click)="toggle()">Login</a>
    </div>
</form>
