<div class="rcorners item" cdkDrag>
    <div id="table">
        <div class="top">
            <img src="{{favicon}}">
            <p class="title">{{itemData.title}}</p>
            <div class="cell">
                <button *ngIf="itemData.status==statuses.NEW" mat-button id="new" class="tag" disabled="true">NEW</button>
                <button *ngIf="itemData.status=='VISITED'" mat-button id="visited" class="tag" disabled="true">VISITED</button>
                <button *ngIf="itemData.status=='COMPLETED'" mat-button id="completed" class="tag" disabled="true">COMPLETED</button>
            </div>
        </div>
    </div>
    <a href="{{itemData.url}}" target="_blank" class="link" style="color:#239CD9" (click)="onStatusChange('VISITED')">{{itemData.url}}</a>

</div>

